In [12]:
import os
import json
import pandas as pd
from pandas.io.json import json_normalize
import requests

In [13]:
os.getcwd()

'/mnt/c/Users/leand/AirflowHome/dags'

In [14]:
data_json=[]

In [15]:
symbols=['NFLX','MSFT','GOOGL','FB','AMZN','BABA','TSLA']
    
for val in symbols:
    r = requests.get('https://finnhub.io/api/v1/news-sentiment?symbol='+str(val)+'&token=bvv9c7f48v6r5v93tap0')
    data_json.append(r.json())
    df = json_normalize(data_json)

/tmp/ipykernel_10530/1160352547.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(data_json)

In [16]:

df_cols=df.iloc[:,[1,3,5,6,2,7]]
df_cols.columns=['NewsScore','Symbol','Buzz','WeekAvgBuzz','BearSentiment','BullSentiment']
df_cols=df_cols[['Symbol','NewsScore','Buzz','WeekAvgBuzz','BearSentiment','BullSentiment']]
df_final=df_cols.sort_values(by=['BullSentiment'],ascending=False).reset_index()

In [17]:
df_final.to_csv("/mnt/c/Users/leand/AirflowHome/dags/stocks.csv")

   index Symbol  NewsScore    Buzz  WeekAvgBuzz  BearSentiment  BullSentiment
0      3     FB     0.6642  0.8300       192.75         0.5315         0.5883
1      6   TSLA     0.6544  0.7816       195.75         0.5465         0.5000
2      2  GOOGL     0.6642  0.7189       239.25         0.5315         0.2667
3      4   AMZN     0.6544  0.8327       342.25         0.5465         0.2381
4      5   BABA     0.6544  1.0000        71.00         0.5465         0.1250
5      1   MSFT     0.6642  0.7881       168.75         0.5315         0.1053
6      0   NFLX     0.6412  0.9813        80.50         0.5311         0.0910